{% extends "base_layout.html" %}
{% block content %}

<div class="relative isolate overflow-hidden">

    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">{{article.title}}</h2>
      </div>
      <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10">
            <img src="{{article.thumbnail.url}}" />
        </div>

        <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10">
            <p class="mt-4">{{article.body}}</p>
        </div>

      </div>
    </div>
  </div>
  
{% endblock content %}
