{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    
</head>
<body>
   <div class="">
      
      <!-- component -->
<div class="relative shadow">
   <div class="w-full backdrop-blur-sm">
       <div class="relative z-1 h-16 mx-auto px-5 max-w-7xl flex items-center justify-between text-white">
         <h1><a href="{% url 'articles:list' %}"> <img src="{% static 'logo.png'%}"/> </a> </h1>
           <ul class="flex items-center gap-5">
               <li><a class="hover:text-cyan-400 transition-colors" href="">Link 1</a></li>
               <li><a class="hover:text-cyan-400 transition-colors" href="">Link 2</a></li>
               <li><a class="hover:text-cyan-400 transition-colors" href="">Link 3</a></li>
               <li><a class="hover:text-cyan-400 transition-colors" href="">Link 4</a></li>
               <li> 
                  <form action="/accounts/logout/" method="POST">
                     {% csrf_token %}
                     <input class="" type="submit" value="Logout"/>
                  </form>   
               </li>
           </ul>
       </div>
   </div>
</div>
{% block content %}{% endblock content %}
   </div>
</body>
</html>